body {
    font-family: dnp-shuei-mgothic-std, sans-serif;
    margin: 0px;
}

ul {
    list-style: none;
    padding-left: 0px;
}

button {
    visibility: hidden;
}

button:hover img {
    opacity: 0.6;
    filter: alpha(opacity=60);
}

#header {
    width: 100vw;
    height: 60px;
    background-color: white;
    border-bottom: 1px solid #B1B1B1;
}

.logo {
    color: #fff;
    font-weight: bold;
    text-align: undefined;
    max-height: 40px;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 2%;
    letter-spacing: 4px;
}

#header nav {
    float: right;
    width: 80%;
    text-align: right;
}

#header nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
    justify-content: flex-end;
}

#header nav ul li {
    float: left;
    color: #000000;
    font-size: 13px;
    text-align: left;
    margin-right: 15px;
    letter-spacing: 2px;
    font-weight: bold;
    transition: all 0.3s linear;
}

#header nav ul li .button_speak {
    line-height: 26px;
    letter-spacing: 2px;
    text-align: center;
    font-size: 12px;
    display: inline-block;
    position: relative;
    margin: auto;
    width: 145px;
    background: #FFFFFF;
    visibility: visible;
    display: block;
    box-sizing: border-box;
    height: 30px;
    border: 2px solid #ffaf1b;
    border-radius: 15px;
    background: #ffaf1b;
}

#header nav ul li .button_speak span:after {
    content: "説明を聞く";
    font-family: dnp-shuei-mgothic-std, sans-serif;
    color: #FFFFFF;
}

#header nav ul li .modaal-content-container {
    display: block;
}

#header nav ul li .button_speak_launch {
    margin-right: auto;
    margin-left: auto;
    display: block;
}

#header nav ul li .button_review {
    line-height: 26px;
    letter-spacing: 2px;
    text-align: center;
    font-size: 12px;
    display: inline-block;
    position: relative;
    margin: auto;
    width: 145px;
    background: #FFFFFF;
    visibility: visible;
    display: block;
    box-sizing: border-box;
    height: 30px;
    border: 2px solid #ffaf1b;
    border-radius: 15px;
    background: #ffaf1b;
    text-decoration: none;
}

#header nav ul li .button_review span:after {
    content: "感想を送る";
    font-family: dnp-shuei-mgothic-std, sans-serif;
    color: #FFFFFF;
}

#header nav ul li .twitter {
    width: 32px;
    height: 32px;
    margin-right: -5px;
    background: url("https://object-storage.tyo2.conoha.io/v1/nc_7d0030b822e246239683a325ebfb1974/iiiex/works/src/img/button_twitter_gray%402x.png") no-repeat;
    background-size: cover;
    display: block;
    text-indent: -9999px;
}

#header nav ul li .button_good {
    width: 32px;
    height: 32px;
    margin-right: -5px;
    background: url("https://object-storage.tyo2.conoha.io/v1/nc_7d0030b822e246239683a325ebfb1974/iiiex/works/src/img/button_heart_gray%402x.png") no-repeat;
    background-size: cover;
    display: block;
    text-indent: -9999px;
}

#header nav ul li #button_back {
    width: 32px;
    height: 32px;
    margin-right: -5px;
    background: url("https://object-storage.tyo2.conoha.io/v1/nc_7d0030b822e246239683a325ebfb1974/iiiex/works/src/img/button_return_gray%402x.png") no-repeat;
    background-size: cover;
    display: block;
    text-indent: -9999px;
}

#container {
    width: 50vw;
    min-width: 645px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 60px;
}

#works__container {
    position: relative;
    width: 100vw;
    left: 50%;
    margin-left: -50vw;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    min-width: 960px;
    min-height: 650px;
}

#works__container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    display: block;
}

.square {
    display: none;
    width: 960px;
    height: 650px;
    background: black;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    font-size: 15px;
}

.square p {
    position: absolute;
    top: 35%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}

#title__container p {
    font-size: 60px;
    margin-top: 10px;
    margin-bottom: -6px;
    text-align: center;
}

.title_jp {
    display: block;
}

.title_en {
    display: none;
}

#author__container {
    display: flex;
}

.author__div {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.author__column {
    display: flex;
}

.author__job {
    text-align: right;
    font-weight: bold;
    padding-right: 10px;
}

.author__name {
    text-align: left;
    padding-left: 10px;
}

.caption_jp {
    display: block;
}

.caption_en {
    display: none;
}

#footer__container p {
    text-align: center;
    color: #a9a9a9;
}

.sp_only {
    display: none;
}

.switchArea {
    line-height: 36px;
    letter-spacing: 0;
    text-align: center;
    font-size: 15px;
    position: relative;
    margin: auto;
    width: 125px;
    background: #fff;
    margin-bottom: 20px;
}

.switchArea input[type="checkbox"] {
    display: none;
}

.switchArea label {
    display: block;
    box-sizing: border-box;
    height: 36px;
    border: 2px solid #999999;
    border-radius: 18px;
}

.switchArea input[type="checkbox"]:checked+label {
    border-color: #ffaf1b;
}

.switchArea label span:after {
    content: "JP→EN";
    padding: 0 0 0 21px;
    color: #999999;
}

.switchArea input[type="checkbox"]:checked+label span:after {
    content: "EN→JP";
    padding: 0 21px 0 0;
    color: #ffaf1b;
}

.switchArea #swImg {
    position: absolute;
    width: 28px;
    height: 28px;
    background: #999999;
    top: 4px;
    left: 4px;
    border-radius: 14px;
    transition: .2s;
}

.switchArea input[type="checkbox"]:checked~#swImg {
    transform: translateX(89px);
    background: #ffaf1b;
}

#buttons__container {
    display: none;
}